<html>
<head>
    <!-- CSS -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" />

    <title>Register 1</title>

</head>

<body>
    <div class="container">

        <!-- PAGE HEADER -->

        <div ng-controller="DemoCtrl" layout="column" layout-padding="" ng-cloak="" class="inputdemoIcons" ng-app="routerApp">

            <br>
            <md-content class="md-no-momentum">
                <md-toolbar style="background-color:red"   class="md-toolbar-tools">
                    <h2 style="color:white">Registration Form</h2>
                </md-toolbar>
                <br />
                <md-input-container class="md-icon-float md-block">
                    <!-- Use floating label instead of placeholder -->
                    <label>Name</label>
                    <md-icon md-svg-src="views/img/form/user.svg" class="name"></md-icon>
                    <input ng-model="user.name" type="text">
                </md-input-container>

                <md-input-container md-no-float="" class="md-block">
                    <md-icon md-svg-src="views/img/form/smartphone.svg"></md-icon>
                    <input ng-model="user.phone" type="text" placeholder="Phone Number">
                </md-input-container>

                <md-input-container class="md-block">
                    <!-- Use floating placeholder instead of label -->
                    <md-icon md-svg-src="views/img/form/google.svg" class="email"></md-icon>
                    <input ng-model="user.email" type="email" placeholder="Email (required)" ng-required="true">
                </md-input-container>

            </md-content>

        </div>
        <div>
            <md-button type="submit" style="background-color:red;color:white">Submit</md-button>
        </div>
    </div>
</body>
</html>
