    <div>

        <form name="myForm" class="login" ng-submit="vm.login(loginObj)" layout="row" layout-wrap>
            <br />
            <md-icon style="-webkit-text-fill-color:blue;margin-top:-6%; font-size:95px;text-align:center;margin-left:35%">face</md-icon><br />
            <md-input-container class="login" flex="100" style="margin-top:90px">
                <md-icon class="md-dark" aria-label="Username" style="-webkit-text-fill-color:blue">person</md-icon>
                <input name="username" id="username" placeholder="Username" ng-model="loginObj.username" ng-required="true">

                <div ng-messages="myForm.username.$error" ng-show="myForm.username.$touched">
                    <div ng-message="required">Username is required.</div>
                </div>
            </md-input-container>
            <md-input-container class="login" flex="100">
                <md-icon class="md-dark" arial-label="password" style="-webkit-text-fill-color:blue">lock</md-icon>

                <input placeholder="Password" name="password" id="password" type="password" ng-model="loginObj.password" ng-required="true">
                <div ng-messages="myForm.password.$error" ng-show="myForm.password.$touched">
                    <div ng-message="required">Password is required.</div>
                </div>
            </md-input-container>
            <div>
                <div flex="100">
                    <!--<md-button type="button" ng-click="vm.reset()">RESET</md-button>-->

                    <md-button type="submit"  class="md-primary md-raised" ng-disabled="myForm.$invalid" style="margin-left: 237%;">
                        Login
                    </md-button>
                </div>
            </div>

        </form>
        <div ng-show="vm.loginError" class="alert alert-danger alert-center">{{vm.error}}</div>
    </div>